<a href="https://colab.research.google.com/github/TimDrake01/THC_Course/blob/main/Clase_20_03_25_listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
frutas = ["manzana", "pera", "naranja", "kiwi"]
#frutas.remove ("pera")
print(frutas)

['manzana', 'pera', 'naranja', 'kiwi']

In [7]:
for i in range(len(frutas)):
  print(frutas[i])

manzana
pera
naranja
kiwi

In [4]:
numeros = [1.2,5,6,10.2,5.3,3,9,8,7,1.36]
sum = 0
for i in numeros:
  decimales = i - int(i)
  if decimales == 0.0:
    sum = sum + i
  print(sum)

0
5
11
11
11
14
23
31
38
38